.column {
    width: 20%;
    margin: 5px;
    background-color: #bbccdd;
    border-radius: 7px;
}

.column-wrapper {
justify-content: center;
padding: 5px;
width: 100% - 10px;
text-align: center;
}

.button-bar-wrapper {
    text-align: center;
}