<th class="table-title" id="second-name">
    Фамилия
</th>
<th class="table-title" id="first-name">
    Имя
</th>
<th class="table-title" id="patronymic">
    Отчество
</th>
<th class="table-title" id="sex">
    Пол
</th>
<th class="table-title" id="birth-date">
    Дата рождения
</th>
<th class="table-title" id="marital_status">
    Семейное положение
</th>
<th class="table-title" id="history">
    История
</th>
<th class="table-title" id="edit">
    Редакт.
</th>
<th class="table-title" id="delete">
    Удалить
</th>
